.home-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
  }
  
  .home-view span {
	font-size: 3rem;
  }

  .home-view img {
	position: absolute;

	top: 40%;
	left: 50%;

	transform: translate(-50%, -50%) scale(1.5);
	filter: grayscale(100%);

	z-index: -1;
	opacity: .3;

	border-radius: 50%;
  }

  .bio {
	width: 20%;
	font-weight: lighter;
  }

  .bio-error{

  }